h1{
  color:#e97171;
  text-align: center;
  font-size: 300%;
}

div{
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  size:10px;
}

input[type=email],[type=password]{
  width: 30%;
  padding: 15px 0px 15px 5px;
  margin: 12px 0;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 120%;


}


.button{
  width: 30%;
  padding: 15px 0px 15px 5px;
  margin: 12px 0 5px;
  border:none;
  border-radius: 4px;
  background-color:#e97171;
  color:white;
  font-size: 120%;
}

.button:hover{
  background-color: #ffc7c7;
  cursor: pointer;
}

.button:focus{
  outline: none;
}

input[type=email]:focus, input[type=password]:focus{
  outline-color: #e97171;
}
